name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    uses: photon-hq/buildspace/.github/workflows/release.yaml@main
    with:
      service-name: SignozSwift
    permissions:
        contents: write
        pull-requests: read
    secrets: inherit
